.about {
  width: 100vw;
}

.about__wrapper {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 120px 100px 135px 100px;
}

.about__text-wrapper {
  width: 520px;
  margin: 0 50px 0 0;
}

.about__title {
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  margin: 30px 0 30px 0;
}

.about__description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}
