.contacts {
  width: 100vw;
  min-width: $vp-1024;

  @media (max-width: $vp-1023) {
    min-width: 768px;
  }

  @media (max-width: $vp-767) {
    min-width: 320px;
  }
}

.contacts__wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 120px 7.5% 113px 7.5%;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 1390px) {
    padding: 50px 103px;
  }

  @media (max-width: $vp-1023) {
    padding: 100px 5.8% 92px 5.8%;
  }

  @media (max-width: $vp-767) {
    padding: 57px 4.7% 60px 4.7%;
    flex-direction: column-reverse;
  }
}

.contacts__map-wrapper {
  display: inline-block;
  margin: 0 8.6% 0 0;

  @media (max-width: $vp-1023) {
    margin: 0 4.3% 0 0;
  }

  @media (max-width: $vp-767) {
    margin: 0;
  }
}

.contacts__map {
  @media (max-width: 1362px) {
    width: 500px;
  }

  @media (max-width: 1216px) {
    width: 450px;
  }

  @media (max-width: 1100px) {
    width: 420px;
  }

  @media (max-width: $vp-1023) {
    width: 324px;
    height: 335px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    height: 316px;
  }
}

.contacts__text-wrapper {
  width: 43%;
  display: inline-flex;
  flex-direction: column;
  padding: 75px 0 50px 0;

  @media (max-width: $vp-1023) {
    width: 47.6%;
    margin-top: 64px;
    padding: 0 0 50px 0;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    max-width: 600px;
    margin-top: 0;
    padding: 0 0 35px 0;
  }
}

.contacts__title {
  color: #011c40;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin: 0 0 30px 0;

  @media (max-width: $vp-1023) {
    margin: 0 0 28px 0;
  }
}

.contacts__address {
  color: #011c40;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 23px 0;
  padding: 0 0 0 30px;
  background-image: url("../img/contacts-address.svg");
  background-repeat: no-repeat;
  background-position: 2px 2px;

  @media (max-width: $vp-1023) {
    margin: 0 0 20px 0;
  }
}

.contacts__phone {
  color: #011c40;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 200px;
  padding: 0 0 0 30px;
  background-image: url("../img/contacts-phone.svg");
  background-repeat: no-repeat;
  background-position: 2px 2px;

  &:hover {
    color: #0e87c3;
  }

  &:active {
    color: #2200ba;
  }
}
