.destinations {
  width: 100vw;
  min-width: $vp-1024;

  @media (max-width: $vp-1023) {
    min-width: 768px;
  }

  @media (max-width: $vp-767) {
    min-width: 320px;
  }
}

.destinations > div {
  padding: 83px 103px 120px 7.5%;
  max-width: 1366px;
  margin: 0 auto;

  @media (min-width: 1367px) {
    padding: 83px 103px 120px 103px;
  }

  @media (max-width: $vp-1023) {
    padding: 88px 45px 100px 5.8%;
  }

  @media (max-width: $vp-767) {
    padding: 60px 15px 65px 15px;
  }
}

.destinations h2 {
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 50px 0;

  @media (max-width: $vp-1023) {
    font-size: 26px;
    line-height: 39px;
  }

  @media (max-width: $vp-767) {
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 30px 0;
  }
}

.destinations__list {
  list-style-type: none;
  padding: 0 15px 0 15px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px 30px;

  @media (max-width: $vp-1023) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
    padding: 0 10px 0 10px;
  }
}

.destinations__item {
  width: 100%;
  min-height: 386px;
  background-color: #011c40;
  background-size: cover;

  @media (min-width: 1367px) {
    width: 260px;
  }

  @media (max-width: $vp-1023) {
    width: 309px;
    margin: 0 auto;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    max-width: 410px;
  }
}

.destinations__item-description {
  margin: 335px 0 0 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #f9fbfd;

  @media (max-width: 1150px) {
    margin: 335px 0 0 4px;
  }

  @media (max-width: $vp-1023) {
    margin: 330px 0 0 35px;
  }

  @media (max-width: $vp-767) {
    margin: 340px 0 0 25px;
  }
}

.destinations__extra {
  padding: 25px 25px 25px 25px;
  display: none;
  position: absolute;
  width: 260px;
  margin: 0 auto;

  @media (max-width: 1300px) {
    padding: 10px;
    width: 240px;
  }

  @media (max-width: 1250px) {
    padding: 7px;
    width: 220px;
  }

  @media (max-width: 1200px) {
    padding: 5px;
    width: 200px;
  }

  @media (max-width: 1100px) {
    width: 181px;
    padding: 5px;
  }

  @media (max-width: $vp-1023) {
    width: 260px;
    padding: 25px 25px 25px 25px;
  }
}

.destinations__extra-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #f9fbfd;
  margin: 0;
}

.destinations__extra-dt {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #f9fbfd;
  margin: 0;
  padding: 0;
}

.destinations__extra-dd {
  color: #d8d8d9;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 15px 0;
  padding: 0;
}

.destinations__extra-button {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #011c40;
  background-color: #f9fbfd;
  text-decoration: none;
  padding: 15px 45px;
  display: block;
  margin: 0 auto;

  @media (min-width: $vp-1024) {
    @media (max-width: 1300px) {
      padding: 15px 27px;
    }
  }

  &:hover {
    background-color: #949494;
  }

  &:active {
    background-color: #93d8fa;
  }
}

.destinations__item--astoria {
  background-image: url("../img/destinations-astoria.jpg");

  @media (min-width: $vp-1024) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/destinations-astoria@2x.jpg");
    }
  }

  @media (max-width: $vp-1023) {
    background-image: url("../img/tablet/destinations-astoria.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet/destinations-astoria@2x.jpg");
    }
  }

  @media (max-width: $vp-767) {
    background-image: url("../img/mobile/destinations-astoria.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/destinations-astoria@2x.jpg");
    }
  }
}

.destinations__item--elain {
  background-image: url("../img/destinations-elain.jpg");

  @media (min-width: $vp-1024) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/destinations-elain@2x.jpg");
    }
  }

  @media (max-width: $vp-1023) {
    background-image: url("../img/tablet/destinations-elain.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet/destinations-elain@2x.jpg");
    }
  }

  @media (max-width: $vp-767) {
    background-image: url("../img/mobile/destinations-elain.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/destinations-elain@2x.jpg");
    }
  }
}

.destinations__item--atlantis {
  background-image: url("../img/destinations-atlantis.jpg");

  @media (min-width: $vp-1024) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/destinations-atlantis@2x.jpg");
    }
  }

  @media (max-width: $vp-1023) {
    background-image: url("../img/tablet/destinations-atlantis.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet/destinations-atlantis@2x.jpg");
    }
  }

  @media (max-width: $vp-767) {
    background-image: url("../img/mobile/destinations-atlantis.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/destinations-atlantis@2x.jpg");
    }
  }
}

.destinations__item--odissey {
  background-image: url("../img/destinations-odissey.jpg");

  @media (min-width: $vp-1024) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/destinations-odissey@2x.jpg");
    }
  }

  @media (max-width: $vp-1023) {
    background-image: url("../img/tablet/destinations-odissey.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet/destinations-odissey@2x.jpg");
    }
  }

  @media (max-width: $vp-767) {
    background-image: url("../img/mobile/destinations-odissey.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/destinations-odissey@2x.jpg");
    }
  }
}

.destinations__item--olimpia {
  background-image: url("../img/destinations-olimpia.jpg");

  @media (min-width: $vp-1024) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/destinations-olimpia@2x.jpg");
    }
  }

  @media (max-width: $vp-1023) {
    background-image: url("../img/tablet/destinations-olimpia.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet/destinations-olimpia@2x.jpg");
    }
  }

  @media (max-width: $vp-767) {
    background-image: url("../img/mobile/destinations-olimpia.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/destinations-olimpia@2x.jpg");
    }
  }
}

.destinations__item--aurora {
  background-image: url("../img/destinations-aurora.jpg");

  @media (min-width: $vp-1024) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/destinations-aurora@2x.jpg");
    }
  }

  @media (max-width: $vp-1023) {
    background-image: url("../img/tablet/destinations-aurora.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet/destinations-aurora@2x.jpg");
    }
  }

  @media (max-width: $vp-767) {
    background-image: url("../img/mobile/destinations-aurora.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/destinations-aurora@2x.jpg");
    }
  }
}

.destinations__item--leonor {
  background-image: url("../img/destinations-leonor.jpg");

  @media (min-width: $vp-1024) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/destinations-leonor@2x.jpg");
    }
  }

  @media (max-width: $vp-1023) {
    background-image: url("../img/tablet/destinations-leonor.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet/destinations-leonor@2x.jpg");
    }
  }

  @media (max-width: $vp-767) {
    background-image: url("../img/mobile/destinations-leonor.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/destinations-leonor@2x.jpg");
    }
  }
}

.destinations__item--minion {
  background-image: url("../img/destinations-minion.jpg");

  @media (min-width: $vp-1024) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/destinations-minion@2x.jpg");
    }
  }

  @media (max-width: $vp-1023) {
    background-image: url("../img/tablet/destinations-minion.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet/destinations-minion@2x.jpg");
    }
  }

  @media (max-width: $vp-767) {
    background-image: url("../img/mobile/destinations-minion.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/destinations-minion@2x.jpg");
    }
  }
}

.destinations__item:focus {
  background-image: none;
  background-color: #011c40;
  outline: 2px solid #006eff;
  outline-offset: 2px;
}
