.welcome {
  background-color: #003875;
  background-image: url("../img/welcome-background.jpg");
  background-size: 100% 100%;
  padding: 283px 200px;
  margin-top: -60px;
}

.welcome__wrapper {
  max-width: 1366px;
  margin: 0 auto;
}

.welcome__title {
  color: #f9fbfd;
  font-size: 54px;
  line-height: 66px;
  font-weight: 700;
}

.welcome__description {
  color: #f9fbfd;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
