.welcome {
  background-color: #003875;
  background-image: url("../img/welcome-background.jpg");
  background-size: 100% 100%;
  width: 100vw;
  min-width: $vp-1024;

  @media (max-width: $vp-1023) {
    min-width: 768px;
    background-image: url("../img/tablet/welcome-background.jpg");
  }
}

.welcome__wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 283px 200px;

  @media (max-width: $vp-1023) {
    padding: 280px 45px;
  }
}

.welcome__title {
  color: #f9fbfd;
  font-size: 54px;
  line-height: 66px;
  font-weight: 700;
  margin: 0 0 30px 0;

  @media (max-width: $vp-1023) {
    font-size: 50px;
    line-height: 61px;
  }
}

.welcome__description {
  color: #f9fbfd;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;

  @media (max-width: $vp-1023) {
    font-size: 18px;
    line-height: 22px;
  }
}
