.welcome {
  background-color: #003875;
  background-image: url("../img/welcome-background.jpg");
  background-size: 100% 100%;
  width: 100vw;
  min-width: $vp-1024;

  @media (max-width: $vp-1023) {
    min-width: 768px;
    background-image: url("../img/tablet/welcome-background.jpg");
  }

  @media (max-width: $vp-1023) {
    min-width: 320px;
    background-image: url("../img/mobile/welcome-background.jpg");
  }
}

.welcome__wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 270px 200px 285px 200px;

  @media (max-width: $vp-1023) {
    padding: 290px 45px 277px 5.8%;
  }

  @media (max-width: $vp-767) {
    padding: 220px 4.7% 180px 4.7%;
  }
}

.welcome__title {
  color: #f9fbfd;
  font-size: 54px;
  line-height: 66px;
  font-weight: 700;
  margin: 0 0 12px 0;

  @media (max-width: $vp-1023) {
    font-size: 50px;
    line-height: 61px;
    margin: 0 0 10px 0;
  }

  @media (max-width: $vp-767) {
    font-size: 36px;
    line-height: 45px;
    margin: 0 0 12px 0;
  }
}

.welcome__description {
  color: #f9fbfd;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;

  @media (max-width: $vp-1023) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 22px;
    width: 70%;
  }
}
