.header {
  width: 100vw;
  min-width: $vp-1024;
  margin: 0 auto;
  background-color: transparent;
  z-index: 2;
  position: absolute;

  @media (max-width: $vp-1023) {
    min-width: 768px;
  }

  @media (max-width: $vp-767) {
    min-width: 320px;
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1366px;
  padding: 35px 100px 35px 100px;
  margin: 0 auto;

  @media (max-width: $vp-1023) {
    padding: 27px 45px 35px 5.8%;
  }

  @media (max-width: $vp-767) {
    padding: 20px 15px 20px 4.7%;
  }
}

.header__logo-link-wrapper {
  margin: 0 10px 0 0;
}

.header__logo {
  @media (max-width: $vp-1023) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $vp-767) {
    width: 42px;
    height: 22px;
  }
}
