.header {
  width: 100vw;
  min-width: $vp-1024;
  margin: 0 auto;
  background-color: transparent;
  z-index: 2;

  @media (max-width: $vp-1023) {
    min-width: 768px;
  }

  // @media (max-width: $vp-767) {
  //   min-width: 320px;
  // }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1366px;
  padding: 35px 100px 35px 100px;
  margin: 0 auto;
}

.header__logo-link-wrapper {
  margin: 0 10px 0 0;
}
