.navigation {
  @media (max-width: $vp-767) {
    position: relative;
  }
}

.navigation__toggle {
  display: none;

  @media (max-width: $vp-767) {
    display: block;
    position: absolute;
    background-color: transparent;
    margin: 0;
    padding: 0;
    z-index: 2;
    border: none;
    cursor: pointer;
  }
}

.navigation__toggle--open {
  @media (max-width: $vp-767) {
    width: 24px;
    height: 16px;
    left: -25px;
    top: -10px;
    border-bottom: 2px solid #f9fbfd;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 8px;
      left: 0;
      width: 24px;
      border-bottom: 2px solid #f9fbfd;
    }

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      display: block;
      width: 24px;
      border-top: 2px solid #f9fbfd;
    }
  }

  &:focus {
    outline: 2px solid #f9fbfd;
    outline-offset: 5px;
  }

  &:hover {
    border-bottom: 2px solid #949494;

    &::after {
      border-bottom: 2px solid #949494;
    }

    &::before {
      border-top: 2px solid #949494;
    }
  }

  &:active {
    border-bottom: 2px solid #93d8fa;

    &::after {
      border-bottom: 2px solid #93d8fa;
    }

    &::before {
      border-top: 2px solid #93d8fa;
    }
  }
}

.navigation__toggle--close {
  @media (max-width: $vp-767) {
    width: 20px;
    height: 20px;
    left: -17px;
    top: -10px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 9px;
      left: 2px;
      width: 17px;
      border-bottom: 2px solid #011c40;
      transform: rotate(45deg);
    }

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 2px;
      display: block;
      width: 17px;
      border-top: 2px solid #011c40;
      transform: rotate(-45deg);
    }
  }

  &:hover {
    &::after {
      border-bottom: 2px solid #949494;
    }

    &::before {
      border-top: 2px solid #949494;
    }
  }

  &:active {
    &::after {
      border-bottom: 2px solid #93d8fa;
    }

    &::before {
      border-top: 2px solid #93d8fa;
    }
  }
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 650px;

  @media (max-width: $vp-767) {
    position: absolute;
    flex-direction: column;
    right: -20px;
    top: -30px;
    background-color: #f9fbfd;
    width: calc(100vw - 35px);
    max-width: 740px;
    padding: 75px 7px 235px 7px;
    background-image: url("../img/mobile/logo-menu.svg");
    background-position: 15px 20px;
    background-repeat: no-repeat;
  }
}

@media (max-width: 767px) {
  .navigation--closed .navigation__list {
    display: none;
  }

  .navigation--nojs .navigation__list {
    position: static;
    margin: -20px 0 88px 0;
    display: block;
    padding: 75px 7px 20px 7px;
  }

  .navigation--nojs .navigation__toggle {
    display: none;
  }
}

.navigation__item {
  @media (max-width: $vp-767) {
    padding: 10px 10px 8px 10px;
  }
}

.navigation__item:not(:last-child) {
  margin: 0 38px 0 0;

  @media (max-width: $vp-1023) {
    margin: 0 25px 0 0;
  }

  @media (max-width: $vp-767) {
    margin: 0 0 7px 0;
  }
}

.navigation__item a {
  color: #f9fbfd;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  &:hover {
    color: #949494;
  }

  &:active {
    color: #93d8fa;
  }

  @media (max-width: $vp-1023) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: $vp-767) {
    color: #011c40;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 10px 8px 10px;
  }
}
