.footer {
  background-color: #011c40;
}

.footer__wrapper {
  padding: 40px 100px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1366px;
  margin: 0 auto;
}

.footer__navigation {
  margin: 0 100px 0 0;
}
