.footer {
  background-color: #011c40;
  width: 100vw;
  min-width: $vp-1024;

  @media (max-width: $vp-1023) {
    min-width: 768px;
  }
}

.footer__wrapper {
  padding: 40px 100px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1366px;
  margin: 0 auto;
}

.footer__navigation {
  margin: 0 100px 0 0;
}
