.social__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.social__item:not(:last-child) {
  margin-right: 27px;
}

.social__link {
  color: #f9fbfd;

  &:hover {
    color: #949494;
  }

  &:active {
    color: #93d8fa;
  }
}
